.login {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

.login__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.login > h3 {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    color: #0072b1;
}

.login__container > form {
    display: flex;
    flex-direction: column;
}

.login__container > form > input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login__container > form > button {
    width: 365px;
    height: 50px;
    font-size: large;
    color: #fff;
    background-color: #0074b1;
    border-radius: 5px;
    cursor: pointer;
}

.login__register {
    color: #0074b1;
    cursor: pointer;
}

.login__container > p {
    margin-top: 20px;
}